In [11]:
beers = pd.read_csv('beers.csv')
beers

In [12]:
beers = pd.read_csv('beers.csv')
beers

/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,41,46,48,49,50,51,52,54,58,60,61,62,63,64,66,70,71,72,73,74,75,76,78,82,84,85,86,87,88,90,94,96,97,98,99,100,102,108,109,110,111,112,114,118,119,121,122,123,124,126,131,133,134,135,136,138,143,145,146,147,148,150,155,157,158,159,160,162,167,169,170,171,172,174,179,181,182,183,184,186,191,193,194,195,196,198,203,205,206,207,215,217,219,227,229,231,239,240,241,242,243,245,247,251,253,255,257,263,264,266,268,276,278,280,288,290,292,300,302,304,312,314,316,324,326,328,336,338,340,348,349,350,351,353,355,363,364,366,368,376,378,380,388,390,392,400,402,404,412,414,416,424,426,428,436,438,440,448,450,452,460,462,464,474,476,484,486,488,496,498,500,508,510,512,520,522,524,532,534,536,544) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,filepath,...,Unnamed: 535,Unnamed: 536,Unnamed: 537,Unnamed: 538,Unnamed: 539,Unnamed: 540,Unnamed: 541,Unnamed: 542,Unnamed: 543,Unnamed: 544
0,1,812,Hocus Pocus,11,116,4.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,264,Grimbergen Blonde,-1,-1,6.7,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,779,Widdershins Barleywine,-1,-1,9.1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,287,Lucifer,-1,-1,8.5,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1056,Bitter,-1,-1,4,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5856,5910,10,Honey Rye Ale,11,128,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5857,5911,10,Strawberry,11,121,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5858,5912,10,Satsuma Wit,11,121,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5859,5913,1422,Abhi beer,7,89,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5860,5914,1423,Ambr,11,132,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:

keep_col = ['brewery_id','name','cat_id','style_id','abv','ibu','srm','upc','filepath','descript','last_mod']
beers_new = beers[keep_col]
beers_new.to_csv("beers_new.csv", index=False)

In [15]:
driver = 'mysql+pymysql'
ip = '34.89.31.210'
username = 'beer-project-3'
password = '1234'
db = 'beer_project_3'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'

engine = create_engine(connection_string)
 
#beers_new.to_sql('Beers', engine)

# Make the new brewery table

In [24]:
brewery = pd.read_csv('breweries.csv')
brewery
brewery = brewery.drop( columns= ['filepath','phone','website','last_mod','code','address2'] )

In [26]:
brewery.to_csv('brewery_new',index=False)

# Make the category table

In [9]:

keep_col = ['brewery_id','name','cat_id','style_id','abv','ibu','srm','upc','filepath','descript','last_mod']
beers_new = beers[keep_col]
beers_new.to_csv("beers_new.csv", index=False)

In [10]:
driver = 'mysql+pymysql'
ip = '34.89.31.210'
username = 'beer-project-3'
password = '1234'
db = 'beer_project_3'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'

engine = create_engine(connection_string)
 
#beers_new.to_sql('Beers', engine)

ValueError: Table 'Beers' already exists.

In [ ]:
brewery = pd.read_csv('breweries.csv')
brewery
brewery = brewery.drop( columns= ['filepath','phone','website','last_mod','code','address2'] )

In [ ]:
brewery.to_csv('brewery_new',index=False)