### 2. Which is the beer category sold in more breweries?

First let's read the csv of beers and categories

In [2]:
import pandas as pd

beers = pd.read_csv('../NEW_DATA/beers_new.csv')

categories = pd.read_csv('../NEW_DATA/categories_new.csv')

breweries = pd.read_csv('../NEW_DATA/brewery_new.csv')

beers = beers.astype({'cat_id': int, 'brewery_id': int})

In [3]:
beers.head()

   brewery_id                name  cat_id  style_id  abv
0         812         Hocus Pocus      11     116.0  4.5
1        1385       Winter Warmer       1      13.0  5.2
2        1099       Oatmeal Stout       3      42.0  5.0
3        1099      Imperial Stout       3      42.0  7.0
4        1023  Wiesen Edel Weisse       4      50.0  6.2

In [12]:
dataset1 = beers.merge(breweries, left_on='brewery_id', right_on ='id')
dataset2 = dataset1.merge(categories, left_on='cat_id', right_on ='id')

In [13]:
dataset2 = dataset2.drop(['id_x', 'id_y', 'address1', 'state', 'abv', 'city'], axis=1)

In [14]:
dataset2.head()

,brewery_id,name_x,cat_id,style_id,name_y,country,cat_name
0,812,Hocus Pocus,11,116.0,Magic Hat,United States,Other Style
1,812,Feast of Fools,11,121.0,Magic Hat,United States,Other Style
2,812,Wacko,11,121.0,Magic Hat,United States,Other Style
3,1099,Winter Welcome 2008-2009,11,141.0,Samuel Smith Old Brewery (Tadcaster),United Kingdom,Other Style
4,1023,Schneider Weisse,11,116.0,Private Weissbierbrauerei G. Schneider & Sohn ...,Germany,Other Style

In [15]:
dataset2 = dataset2.rename(columns={"name_x": "beer_name", "name_y": "brewery_name"})
dataset2.head()

,brewery_id,beer_name,cat_id,style_id,brewery_name,country,cat_name
0,812,Hocus Pocus,11,116.0,Magic Hat,United States,Other Style
1,812,Feast of Fools,11,121.0,Magic Hat,United States,Other Style
2,812,Wacko,11,121.0,Magic Hat,United States,Other Style
3,1099,Winter Welcome 2008-2009,11,141.0,Samuel Smith Old Brewery (Tadcaster),United Kingdom,Other Style
4,1023,Schneider Weisse,11,116.0,Private Weissbierbrauerei G. Schneider & Sohn ...,Germany,Other Style

In [16]:
#Netherlands = dataset2.loc[dataset2['country'] == 'Netherlands']
num_beer = dataset2.groupby(['cat_name']).count().sort_values(by='cat_name')
num_beer = num_beer['beer_name'].sort_values(ascending=False)
num_beer

cat_name
North American Ale        1014
Belgian and French Ale     259
German Lager               231
North American Lager       224
British Ale                221
Other Style                172
Irish Ale                  125
German Ale                  98
Other Lager                  4
Name: beer_name, dtype: int64

In [17]:
num_brewery = dataset2.drop_duplicates(subset=['brewery_id'])
num_brewery = num_brewery.groupby(['cat_name']).count().sort_values(by='cat_name')
num_brewery = num_brewery['brewery_id'].sort_values(ascending=False)
num_brewery

cat_name
North American Ale        277
Other Style               109
German Lager               62
North American Lager       48
British Ale                39
Belgian and French Ale     35
German Ale                 26
Irish Ale                  19
Other Lager                 1
Name: brewery_id, dtype: int64