# **Request to PUNK IPA API**

In [1]:
# import libraries here

import requests
import pandas as pd
import json

# your code here
PUNKIPA = 'https://api.punkapi.com/v2/beers'

response = requests.get(PUNKIPA)
beer = response.json()
#print(json.dumps(beer[0], indent=6))   
beer_df = pd.DataFrame(beer)
newbeer = beer_df[['name','abv','tagline','srm','ebc','food_pairing','ingredients','ph','method']]

newbeer.head()

,name,abv,tagline,srm,ebc,food_pairing,ingredients,ph,method
0,Buzz,4.5,A Real Bitter Experience.,10.0,20.0,"[Spicy chicken tikka masala, Grilled chicken q...","{'malt': [{'name': 'Maris Otter Extra Pale', '...",4.4,"{'mash_temp': [{'temp': {'value': 64, 'unit': ..."
1,Trashy Blonde,4.1,You Know You Shouldn't,15.0,15.0,"[Fresh crab with lemon, Garlic butter dipping ...","{'malt': [{'name': 'Maris Otter Extra Pale', '...",4.4,"{'mash_temp': [{'temp': {'value': 69, 'unit': ..."
2,Berliner Weisse With Yuzu - B-Sides,4.2,Japanese Citrus Berliner Weisse.,4.0,8.0,"[Smoked chicken wings, Miso ramen, Yuzu cheese...","{'malt': [{'name': 'Propino Pale Malt', 'amoun...",3.2,"{'mash_temp': [{'temp': {'value': 60, 'unit': ..."
3,Pilsen Lager,6.3,Unleash the Yeast Series.,15.0,30.0,"[Spicy crab cakes, Spicy cucumber and carrot T...","{'malt': [{'name': 'Extra Pale', 'amount': {'v...",4.4,"{'mash_temp': [{'temp': {'value': 65, 'unit': ..."
4,Avery Brown Dredge,7.2,Bloggers' Imperial Pilsner.,5.0,10.0,"[Vietnamese squid salad, Chargrilled corn on t...","{'malt': [{'name': 'Lager Malt', 'amount': {'v...",4.4,"{'mash_temp': [{'temp': {'value': 66, 'unit': ..."

In [2]:
newbeer['method'].iloc[0]

{'mash_temp': [{'temp': {'value': 64, 'unit': 'celsius'}, 'duration': 75}],
 'fermentation': {'temp': {'value': 19, 'unit': 'celsius'}},
 'twist': None}

In [3]:
newbeer['food_pairing'] = newbeer['food_pairing'].apply(lambda x: ','.join(x))

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [4]:
newbeer['food_pairing'].value_counts()

Poached sole fillet with capers,Summer fruit salad,Banana split                                                   1
Spicy crab cakes,Spicy cucumber and carrot Thai salad,Sweet filled dumplings                                      1
Fried crab cakes with avocado salsa,Spicy shredded pork roll with hot dipping sauce,Key lime pie                  1
Warm blackberry pie,Vinegar doused fish and chips,Aromatic korma curry with lemon and garlic naan                 1
Oysters,Hickory smoked ham,Rocky Road                                                                             1
Pastrami,Swiss and horseradish sandwich,Sharp cheddar cheese and onion/ raisin chutney,Peanut brittle             1
Grilled portabello mushroom burger,Chicken sausages with creamy mash,Caramel and banana meringue pie              1
Vietnamese squid salad,Chargrilled corn on the cob with paprika butter,Strawberry and rhubarb pie                 1
Fresh crab with lemon,Garlic butter dipping sauce,Goats cheese salad,Creamy lemon bar doused in powdered sugar    1
Mussels with a garlic and herb sauce,Crab melt sandwich,Shortbread cookies                                        1
Kedgeree,Scotch broth with sourdough bread,Clootie dumpling                                                       1
Roasted wood pigeon with black pudding,Pan seared venison fillet with juniper sauce,Apricot coconut cake          1
Spicy chicken skewers,Fish tacos with hot sauce,Lemon pound cake with a ice sugar glaze                           1
Citrus salad with balsamic dressing,Lobster,Ginger and orange cookies                                             1
Tandoori lamb with pomegranate,Beef Wellington with a red wine jus,Raspberry chocolate torte                      1
Fårikål (mutton stew) with a spicy twist,Fenalår (salted cured lamb),Krumkake with lingonberry jam             1
Coffee dusted venison loin,Memphis-style beef short ribs,Chocolate orange brownies                                1
Blue cheese beef burger,Glazed short ribs,Chocolate cake                                                          1
King prawn kebabs,Halibut with a mango and tomato salad,Mint chocloate ice cream                                  1
Spicy chicken tikka masala,Grilled chicken quesadilla,Caramel toffee cake                                         1
Smoked chicken wings,Miso ramen,Yuzu cheesecake                                                                   1
Coriander & chilli crab cakes,Goats cheese salad with walnuts, radish and blood orange,Pistachio cake             1
Roasted garlic and chilli infused camembert cheese,Korean style chicken wings,Chocolate milk shake                1
Vegetable egg scramble,Margherita pizza,Fresh berry crisp tart                                                    1
Stilton on gingerbread biscuits,Pot roasted artichokes,Lamb chops with caramelised figs                           1
Name: food_pairing, dtype: int64

In [5]:
newbeer['abv'].plot(kind='box')

ModuleNotFoundError: No module named 'matplotlib'

# Reading the Dataset of Beers

In [43]:
import pandas as pd
beers = pd.read_csv('REAL_Data_beers/NEW_DATA/beers_new.csv')
beers

#eliminating the rows with '-1' in categories because there does not exist a category with the id '-1'.

beers= beers[~(beers.cat_id == "-1")]

'''eliminating the rows with '0.0' in abv because all the beers have al least some alcohol inside and 
drop the descript column because we are not going to use it.'''

beers = beers[~(beers.abv=="0.0")]
beers = beers.drop( columns = ['descript'])

/usr/local/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

KeyError: "['descript'] not found in axis"

### Let's look for the nan values

In [2]:
beers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2673 entries, 0 to 5848
Data columns (total 5 columns):
brewery_id    2649 non-null object
name          2649 non-null object
cat_id        2644 non-null object
style_id      2641 non-null object
abv           2637 non-null object
dtypes: object(5)
memory usage: 125.3+ KB

### There some nan value inside the dataset, so we are going to eliminate them because is impossible to  vinculate the missing values with all the data we have.

In [3]:
beers = beers.dropna()
beers

     brewery_id                               name cat_id style_id  abv
0           812                        Hocus Pocus     11      116  4.5
5          1385                      Winter Warmer      1       13  5.2
7          1099                      Oatmeal Stout      3       42  5.0
13         1099                     Imperial Stout      3       42  7.0
16         1023                 Wiesen Edel Weisse      4       50  6.2
...         ...                                ...    ...      ...  ...
5843       1417                      Watershed IPA    3.0     30.0  7.1
5844       1087          Estrella Levante Especial    9.0    106.0  5.4
5845       1087  Estrella Levante Sin 0.0% Alcohol    9.0    106.0  1.0
5846       1419            Koshihikari Echigo Beer   11.0    132.0  5.0
5848       1421                         The Public    3.0     26.0  6.0

[2637 rows x 5 columns]

## Let's look inside the column abv

### Looking inside the dataset, we found that some values in the abv column are words which we are going to delete them.

In [4]:
beers = beers[(beers.abv.str.contains(pat = '[0-9]', regex = True))].reset_index(drop=True)
beers

     brewery_id                               name cat_id style_id  abv
0           812                        Hocus Pocus     11      116  4.5
1          1385                      Winter Warmer      1       13  5.2
2          1099                      Oatmeal Stout      3       42  5.0
3          1099                     Imperial Stout      3       42  7.0
4          1023                 Wiesen Edel Weisse      4       50  6.2
...         ...                                ...    ...      ...  ...
2629       1417                      Watershed IPA    3.0     30.0  7.1
2630       1087          Estrella Levante Especial    9.0    106.0  5.4
2631       1087  Estrella Levante Sin 0.0% Alcohol    9.0    106.0  1.0
2632       1419            Koshihikari Echigo Beer   11.0    132.0  5.0
2633       1421                         The Public    3.0     26.0  6.0

[2634 rows x 5 columns]

### We found a strange number combination which is like a date structure, so we just pop this row

In [5]:
beers[(beers.abv.str.contains(pat = '[0-9]{3}', regex = True))]

,brewery_id,name,cat_id,style_id,abv
1370,it's a nicely balanced,hoppy IPA that isn't overpowering. Also,it can be consumed in huge quantities with no...,0,2010-07-22 20:00:20

In [6]:
beers = beers.drop(1370)

In [7]:
beers

     brewery_id                               name cat_id style_id  abv
0           812                        Hocus Pocus     11      116  4.5
1          1385                      Winter Warmer      1       13  5.2
2          1099                      Oatmeal Stout      3       42  5.0
3          1099                     Imperial Stout      3       42  7.0
4          1023                 Wiesen Edel Weisse      4       50  6.2
...         ...                                ...    ...      ...  ...
2629       1417                      Watershed IPA    3.0     30.0  7.1
2630       1087          Estrella Levante Especial    9.0    106.0  5.4
2631       1087  Estrella Levante Sin 0.0% Alcohol    9.0    106.0  1.0
2632       1419            Koshihikari Echigo Beer   11.0    132.0  5.0
2633       1421                         The Public    3.0     26.0  6.0

[2633 rows x 5 columns]

### All the values change correctly to float number, so we are going to see the other columns

In [21]:
beers[(beers.style_id.str.contains(pat = '[0-9]{4}', regex = True))]

beers[(beers.cat_id.str.contains(pat = '[0-9]{4}', regex = True))]

beers[(beers.brewery_id.str.contains(pat = '[0-9]{4}', regex = True))]

Empty DataFrame
Columns: [brewery_id, name, cat_id, style_id, abv]
Index: []

## All the columns do not have any strange number or text inside, so we are going to pocess to change the type of them.

In [22]:
beers[['brewery_id','abv', 'cat_id', 'style_id']] = beers[['brewery_id','abv', 'cat_id', 'style_id']].astype('float') 
beers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2633 entries, 0 to 2633
Data columns (total 5 columns):
brewery_id    2633 non-null float64
name          2633 non-null object
cat_id        2633 non-null float64
style_id      2633 non-null float64
abv           2633 non-null float64
dtypes: float64(4), object(1)
memory usage: 123.4+ KB

In [44]:
beers

      brewery_id                               name  cat_id  style_id  abv
0          812.0                        Hocus Pocus    11.0     116.0  4.5
1         1385.0                      Winter Warmer     1.0      13.0  5.2
2         1099.0                      Oatmeal Stout     3.0      42.0  5.0
3         1099.0                     Imperial Stout     3.0      42.0  7.0
4         1023.0                 Wiesen Edel Weisse     4.0      50.0  6.2
...          ...                                ...     ...       ...  ...
2628      1417.0                      Watershed IPA     3.0      30.0  7.1
2629      1087.0          Estrella Levante Especial     9.0     106.0  5.4
2630      1087.0  Estrella Levante Sin 0.0% Alcohol     9.0     106.0  1.0
2631      1419.0            Koshihikari Echigo Beer    11.0     132.0  5.0
2632      1421.0                         The Public     3.0      26.0  6.0

[2633 rows x 5 columns]

##### Create the new dataset for beers which we are going to use.

In [36]:
beers.to_csv('REAL_Data_beers/NEW_DATA/beers_new.csv',index=False)

#### Read the file from beers:

In [ ]:
beers = pd.read_csv('REAL_Data_beers/NEW_DATA/beers_new.csv')

# # To read the files we do:

In [ ]:
breweries = pd.read_csv('REAL_Data_beers/NEW_DATA/brewery_new.csv')

beers = pd.read_csv('REAL_Data_beers/NEW_DATA/beers_new.csv')

categories = pd.read_csv('REAL_Data_beers/NEW_DATA/categories_new.csv')

styles = pd.read_csv('REAL_Data_beers/NEW_DATA/Style_new.csv')

# Import table of breweries and create the new dataset of it :

In [35]:
breweries = pd.read_csv('REAL_Data_beers/NEW_DATA/brewery_new.csv')

breweries = breweries.drop(columns = 'descript')

#checking if there is any problem with the data:
breweries.info()

#creating the new file of breweries:
breweries.to_csv('REAL_Data_beers/NEW_DATA/breweries_new.csv',index=False)

#for reading the file:

breweries = pd.read_csv('REAL_Data_beers/NEW_DATA/breweries_new.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1414 entries, 0 to 1413
Data columns (total 6 columns):
id          1414 non-null int64
name        1414 non-null object
address1    1145 non-null object
city        1392 non-null object
state       1232 non-null object
country     1413 non-null object
dtypes: int64(1), object(5)
memory usage: 66.4+ KB

# Import table of categories

In [37]:
categories = pd.read_csv('REAL_Data_beers/NEW_DATA/categories_new.csv')
categories

    id                cat_name
0    1             British Ale
1    2               Irish Ale
2    3      North American Ale
3    4              German Ale
4    5  Belgian and French Ale
5    6       International Ale
6    7            German Lager
7    8    North American Lager
8    9             Other Lager
9   10     International Lager
10  11             Other Style

# Import table from styles

In [42]:
styles = pd.read_csv('REAL_Data_beers/NEW_DATA/Style_new.csv')
styles

      id  cat_id                       style_name
0      1       1   Classic English-Style Pale Ale
1      2       1     English-Style India Pale Ale
2      3       1                  Ordinary Bitter
3      4       1    Special Bitter or Best Bitter
4      5       1             Extra Special Bitter
..   ...     ...                              ...
136  137      11  Wood- and Barrel-Aged Sour Beer
137  138      11                        Aged Beer
138  139      11        Other Strong Ale or Lager
139  140      11               Non-Alcoholic Beer
140  141      11                    Winter Warmer

[141 rows x 3 columns]