# Q3:  3. What beer (and category) has the maximum ABV (alcohol graduation)? and the minimum?

 ## Reading the dataset (previously cleaned) about beers, breweries, and categories of beers.

### Beers

In [1]:
import pandas as pd
beers = pd.read_csv('NEW_DATA/beers_new.csv')
beers.head()

   brewery_id                name  cat_id  style_id  abv
0       812.0         Hocus Pocus    11.0     116.0  4.5
1      1385.0       Winter Warmer     1.0      13.0  5.2
2      1099.0       Oatmeal Stout     3.0      42.0  5.0
3      1099.0      Imperial Stout     3.0      42.0  7.0
4      1023.0  Wiesen Edel Weisse     4.0      50.0  6.2

### Beer with maximum and minimum alcohol by volume

In [2]:
beers.loc[beers[['abv']].idxmax()]

     brewery_id                      name  cat_id  style_id    abv
565      1373.0  Norfolk Nog Old Dark Ale     1.0      13.0  99.99

### Beer with minimum alcohol by volume

In [4]:
beers.loc[beers[['abv']].idxmin()]

      brewery_id             name  cat_id  style_id  abv
1112      1144.0  Old 55 Pale Ale     3.0      26.0  0.0

### Categorize in a  serie, the max and min abv of each category

In [5]:
categories_max = beers.groupby('cat_id').max()['abv']
categories_min = beers.groupby('cat_id').min()['abv']
categories_min

cat_id
-1.0     3.8
 1.0     0.0
 2.0     0.0
 3.0     0.0
 4.0     0.0
 5.0     0.0
 7.0     0.0
 8.0     0.0
 9.0     1.0
 11.0    0.0
Name: abv, dtype: float64

### Create a new dataframe where indicates the beers of each category the maximum

In [81]:
max_abv = pd.DataFrame()

for category in categories_max.index:
    max_category = beers[(beers['cat_id'] == category) & (beers['abv'] == categories_max[category])]
    max_abv = pd.concat([max_abv, max_category])

max_abv

      brewery_id                             name  cat_id  style_id    abv
663        157.0     Samuel Adams Triplebock 1994    -1.0      -1.0  17.00
565       1373.0         Norfolk Nog Old Dark Ale     1.0      13.0  99.99
2399       441.0                  Black Butte XXI     2.0      25.0  11.00
2475       241.0         Tactical Nuclear Penguin     3.0      43.0  32.00
577       1268.0                      Weizen Bock     4.0      55.0  10.00
1032       385.0                         Hang Ten     4.0      55.0  10.00
1972       858.0  Venus - Belgian-style Quadrupel     5.0      62.0  16.00
459       1009.0              Broken Keg Ice Bock     7.0      90.0  15.00
808        772.0  Storm Super Premium Malt Liquor     8.0      95.0  10.00
2610      1405.0                        Baltika 6     9.0     106.0   7.00
1591       459.0                             Fort    11.0     121.0  18.00

### Create a new dataframe where indicates the beers of each category the minimum

In [7]:
min_abv = pd.DataFrame()

for category in categories_min.index:
    min_category = beers[(beers['cat_id'] == category) & (beers['abv'] == categories_min[category])]
    min_abv = pd.concat([min_abv, min_category])

min_abv

      brewery_id                               name  cat_id  style_id  abv
2202       836.0                Bikini Blonde Lager    -1.0      -1.0  3.8
1220      1072.0            Youngers Special Bitter     1.0       5.0  0.0
1375       585.0                       Honker's Ale     1.0       4.0  0.0
1386      1195.0              Heroica Oatmeal Stout     1.0      21.0  0.0
1397      1210.0              Highland Scottish Ale     1.0      15.0  0.0
1410      1391.0                                ESB     1.0       5.0  0.0
1428       530.0           Oil Change Oatmeal Stout     1.0      21.0  0.0
1449      1354.0                         Oliver ESB     1.0       5.0  0.0
1478       920.0                  Stone House Stout     1.0      21.0  0.0
1582       831.0                 McNellie's Pub Ale     1.0       4.0  0.0
1833       960.0                Mount Hill Pale Ale     1.0       1.0  0.0
1864       100.0               Bell's Christmas Ale     1.0      15.0  0.0
1880       396.0           Cooper's Cave Tavern Ale     1.0       3.0  0.0
1882       396.0             Cooper's Cave Pale Ale     1.0       1.0  0.0
1933      1128.0       Shade Mountain Oatmeal Stout     1.0      21.0  0.0
1935        97.0           McGovern's Oatmeal Stout     1.0      21.0  0.0
1944       490.0                 Double Rainbow IPA     1.0       2.0  0.0
1951       916.0                        60 Shilling     1.0      15.0  0.0
1963       794.0                      Wild Mild Ale     1.0      10.0  0.0
1980      1054.0                    Workingman Mild     1.0      10.0  0.0
2018       658.0              Black Mountain Bitter     1.0       3.0  0.0
1324       959.0                   Stovepipe Porter     2.0      25.0  0.0
1389      1195.0                        Coal Porter     2.0      25.0  0.0
1450      1354.0                   Oliver Irish Red     2.0      22.0  0.0
1451      1354.0                Oliver Pagan Porter     2.0      25.0  0.0
1471       920.0                   McCafferty's Ale     2.0      22.0  0.0
1472       920.0           Station 33 Firehouse Red     2.0      22.0  0.0
1477       920.0                     Friar's Porter     2.0      25.0  0.0
1588        90.0       Bourbon Barrel Smoked Porter     2.0      25.0  0.0
1670       236.0          Remarkable Vanilla Porter     2.0      25.0  0.0
...          ...                                ...     ...       ...  ...
2005      1289.0                  Red Dragon Xtreme     8.0      95.0  0.0
2630      1087.0  Estrella Levante Sin 0.0% Alcohol     9.0     106.0  1.0
1198      1072.0        Morimoto Black Obi Soba Ale    11.0     121.0  0.0
1200      1072.0                  Morimoto Soba Ale    11.0     121.0  0.0
1209      1072.0              Issaquah Bullfrog Ale    11.0     116.0  0.0
1213      1072.0                 Honey Orange Wheat    11.0     116.0  0.0
1277        10.0                        Purple Haze    11.0     116.0  0.0
1295       121.0                        Grasshopper    11.0     116.0  0.0
1361        60.0                          WeiÃŸbier    11.0     116.0  0.0
1390      1195.0              The Great Pumpkin Ale    11.0     123.0  0.0
1391      1195.0                    Sour Cherry Ale    11.0     121.0  0.0
1393      1195.0                          Frambozen    11.0     121.0  0.0
1399      1210.0                      Fruit Lambics    11.0     121.0  0.0
1417       658.0           Cold Mountain Winter Ale    11.0     141.0  0.0
1425        10.0           Strawberry Harvest Lager    11.0     121.0  0.0
1468       611.0                         Cider Jack    11.0     121.0  0.0
1469       920.0                     Creamation Ale    11.0     113.0  0.0
1573       314.0       Bube's Kiwi-Strawberry Wheat    11.0     121.0  0.0
1583       831.0                      Sundown Wheat    11.0     116.0  0.0
1722       908.0                             Zoomer    11.0     116.0  0.0
1731       978.0    Pete's Wicked Strawberry Blonde    11.0     121.0  0.0
1732       978.0               Pete's Rally Cap Ale    11.0     116.0  0.0
1735       751.0                             Wailua    11.0     116.0  0.0
1789       784.0       Liberty Unfiltered Wheat Ale    11.0     116.0  0.0
1791       784.0        Liberty Raspberry Wheat Ale    11.0     121.0  0.0
1818       869.0                       Thunderstorm    11.0     116.0  0.0
1931      1128.0              Captain Selin's Cream    11.0     113.0  0.0
1941       490.0                    Winkleblink Ale    11.0     116.0  0.0
1964       794.0                      #42 Cream Ale    11.0     113.0  0.0
1983      1379.0                 Patty's Chile Beer    11.0     121.0  0.0

[176 rows x 5 columns]