# Q4:  4. What beer (and category) has the maximum ABV (alcohol graduation)? and the minimum?

 ## Reading the dataset (previously cleaned) about beers, breweries, and categories of beers.

### Beers

In [17]:
import pandas as pd
beers = pd.read_csv('NEW_DATA/beers_new.csv')
beers.head()

cate = pd.read_csv('NEW_DATA/categories_new.csv')
cate

    id                cat_name
0    1             British Ale
1    2               Irish Ale
2    3      North American Ale
3    4              German Ale
4    5  Belgian and French Ale
5    6       International Ale
6    7            German Lager
7    8    North American Lager
8    9             Other Lager
9   10     International Lager
10  11             Other Style

### Beer with maximum and minimum alcohol by volume

In [2]:
beers.loc[beers[['abv']].idxmax()]

      brewery_id                      name  cat_id  style_id   abv
2197       241.0  Tactical Nuclear Penguin     3.0      43.0  32.0

### Beer with minimum alcohol by volume

In [3]:
beers.loc[beers[['abv']].idxmin()]

      brewery_id    name  cat_id  style_id  abv
1617       397.0  Birell     8.0      96.0  0.5

### Categorize in a  serie, the max and min abv of each category

In [4]:
categories_max = beers.groupby('cat_id').max()['abv']
categories_min = beers.groupby('cat_id').min()['abv']
categories_max

cat_id
1.0     14.5
2.0     11.0
3.0     32.0
4.0     10.0
5.0     16.0
7.0     15.0
8.0     10.0
9.0      7.0
11.0    18.0
Name: abv, dtype: float64

### Create a new dataframe where indicates the beers of each category the maximum

In [5]:
max_abv = pd.DataFrame()

for category in categories_max.index:
    max_category = beers[(beers['cat_id'] == category) & (beers['abv'] == categories_max[category])]
    max_abv = pd.concat([max_abv, max_category])

max_abv

      brewery_id                             name  cat_id  style_id   abv
2309        62.0            Samael's Oak-aged Ale     1.0      14.0  14.5
2131       441.0                  Black Butte XXI     2.0      25.0  11.0
2197       241.0         Tactical Nuclear Penguin     3.0      43.0  32.0
576       1268.0                      Weizen Bock     4.0      55.0  10.0
967        385.0                         Hang Ten     4.0      55.0  10.0
1739       858.0  Venus - Belgian-style Quadrupel     5.0      62.0  16.0
459       1009.0              Broken Keg Ice Bock     7.0      90.0  15.0
746        772.0  Storm Super Premium Malt Liquor     8.0      95.0  10.0
2325      1405.0                        Baltika 6     9.0     106.0   7.0
1427       459.0                             Fort    11.0     121.0  18.0

In [6]:
max_abv = max_abv.merge(cate, how = 'inner', left_on ='cat_id', right_on = 'id')

In [18]:
max_abv = max_abv[['name','abv','cat_name']].sort_values('abv',ascending = False).reset_index(drop = True)
max_abv.to_csv('NEW_DATA/Tableau/max.csv')

### Create a new dataframe where indicates the beers of each category the minimum

In [8]:
min_abv = pd.DataFrame()

for category in categories_min.index:
    min_category = beers[(beers['cat_id'] == category) & (beers['abv'] == categories_min[category])]
    min_abv = pd.concat([min_abv, min_category])

min_abv.head()

      brewery_id               name  cat_id  style_id  abv
1507       960.0  Arthur's Mild Ale     1.0      10.0  3.2
2338      1412.0          Dark Mild     1.0      11.0  3.2
112       1004.0      Zone 7 Porter     2.0      25.0  3.8
983         11.0      Nut Brown Ale     3.0      38.0  3.2
866        975.0        Penn Weizen     4.0      50.0  4.0

In [9]:
min_abv = min_abv.merge(cate, how = 'inner', left_on ='cat_id', right_on = 'id')
min_abv

,brewery_id,name,cat_id,style_id,abv,id,cat_name
0,960.0,Arthur's Mild Ale,1.0,10.0,3.2,1,British Ale
1,1412.0,Dark Mild,1.0,11.0,3.2,1,British Ale
2,1004.0,Zone 7 Porter,2.0,25.0,3.8,2,Irish Ale
3,11.0,Nut Brown Ale,3.0,38.0,3.2,3,North American Ale
4,975.0,Penn Weizen,4.0,50.0,4.0,4,German Ale
5,538.0,Heat Seeker Hefe,4.0,50.0,4.0,4,German Ale
6,169.0,Petite Orval,5.0,72.0,3.5,5,Belgian and French Ale
7,590.0,Jack of Spades Schwarzbier,7.0,86.0,3.9,7,German Lager
8,744.0,Black Abbot / Schwarzer Abt,7.0,86.0,3.9,7,German Lager
9,366.0,Caguama,7.0,77.0,3.9,7,German Lager
10,397.0,Birell,8.0,96.0,0.5,8,North American Lager
11,1087.0,Estrella Levante Sin 0.0% Alcohol,9.0,106.0,1.0,9,Other Lager
12,1125.0,Sea Dog Apricot Wheat,11.0,121.0,3.5,11,Other Style
13,1125.0,Sea Dog Blue Paw Wheat,11.0,121.0,3.5,11,Other Style
14,391.0,Huckleberry Ale,11.0,121.0,3.5,11,Other Style

In [15]:
min_abv = min_abv[['name','abv','cat_name']].sort_values('abv',ascending = False).reset_index(drop = True)
min_abv.to_csv('NEW_DATA/Tableau/min.csv')