### 6. Which is the beer (and category) with more breweries?

First let's read the csv of beers and categories

In [11]:
import pandas as pd

beers = pd.read_csv('NEW_DATA/beers_new.csv')

categories = pd.read_csv('NEW_DATA/categories_new.csv')

beers.groupby(['cat_id']).count()

        brewery_id  name  style_id   abv
cat_id
1.0            242   242       242   242
2.0            141   141       141   141
3.0           1073  1073      1073  1073
4.0            107   107       107   107
5.0            267   267       267   267
7.0            244   244       244   244
8.0            245   245       245   245
9.0              4     4         4     4
11.0           200   200       200   200

In [12]:
beers.cat_id.unique()

array([11.,  1.,  3.,  4.,  5.,  2.,  7.,  8.,  9.])